POSTGRES_USER=landpage_user
POSTGRES_PASSWORD=change_this_password_immediately
POSTGRES_DB=landpage_db

SECRET_KEY=change_this_secret_key_immediately_in_production
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
